.contact {
    background-color: $deep_blue;
    padding: 4.4375rem 0;
  }
  .contact__wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 -15px;
    @media (max-width: 767px) {
      justify-content: center;
    }
  }
  .contact__item {
    margin: 0 15px;
    width: 22.5rem;
    @media (max-width: 1200px) {
      width: 18rem;
    }
    @media (max-width: 992px) {
      width: 14rem;
    }
    @media (max-width: 767px) {
      width: 22.5rem;
      margin-bottom: 40px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  .contact__item__title {
    font-size: $_18px;
    font-weight: 700;
    color: $white;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 29px;
    &__down {
      font-size: $_18px;
      font-weight: 700;
      color: $white;
      text-transform: uppercase;
      text-align: center;
      margin-bottom: 49px;
      @media (max-width: 767px) {
        margin-bottom: 20px;
      }
    }
    @media (max-width: 767px) {
      margin-bottom: 15px;
    }
  }
  .contact__item__text {
    width: 100%;
    text-align: center;
    p {
      font-size: $_18px;
      font-weight: 400;
      color: $white;
      text-transform: capitalize;
    }
  }
  .contact__media__list {
    display: flex;
    justify-content: center;
  
    &__item {
      margin-right: 15px;
      font-size: 1.3rem;
      &:last-child {
        margin-right: 0;
      }
    }
  }
  
  .fa-brands {
    @include social_icon;
  }
  
  .fa-facebook-f__contact {
    &:hover {
      color: rgb(85, 113, 240);
      transition: 0.2s;
    }
  }
  
  .fa-twitter__contact {
    &:hover {
      color: rgba(20, 188, 255, 1);
  
      transition: 0.2s;
    }
  }
  
  .fa-linkedin__contact {
    &:hover {
      color: rgb(101, 162, 209);
      transition: 0.2s;
  
    }
  }
  