.features {
  background-color: $white;
  padding: 7rem 0 7.25rem;

  @media (max-width: 992px) {
    padding: 4rem 0;
  }

  &__wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 -15px;
    @media (max-width: 992px) {
      justify-content: space-around;
    }
  }

  &__card {
    margin: 0 15px;
    width: 21rem;
    margin-bottom: 21px;
    &:nth-last-child(-n + 3) {
      margin-bottom: 0;
      @media (max-width: 767px) {
        margin-bottom: 21px;
      }
    }
    &:last-child {
      @media (max-width: 767px) {
        margin-bottom: 0 !important;
      }
    }

    &__img {
      @include icon;
      margin: 0 auto 30px;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center;
      }
    }

    &__title {
      @include title_h3;
      margin-bottom: 25px;
    }

    &__text {
      width: 100%;
      margin: auto;
      p {
        font-weight: 400;
        font-size: 1.125rem;
        text-align: center;
        color: $deep_grey;
      }
    }
    @media (max-width: 1200px) {
      width: 18rem;
    }
  }
}
